body {
  background-color: black;
}

.texth1 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
  background-color: #fff;
  padding: 230px;
}

#resultado {
  width: 500px;
  height: auto;
  margin-top: 23px;
  border: 2px solid black;
  padding: 30px;
  text-align: center
}


.button:hover {
    color: #fff;
    background-color: orange;
    border-color: black;
    text-align: center;
    color: black;
    font-size: 0.7rem;
    font-family: arial black;
}

.button {
    background-color: black;
    border-color: black;
    text-align: center;
    color: white;
    font-size: 0.7rem;
    font-family: arial black;
    cursor: pointer;
}
  
  .img {
    position: fixed;
    top: 50%;
    left: 950px;
    max-width: 100%;
    height: auto;
  }




